<!--<h1>Task#index</h1>-->
<!--<p>Find me in app/views/task/index.html.erb</p>-->

<div class= "tasks-index">
  <div class="container">
    <h1>管理者のタスク一覧</h1>
    <div class= "row">
      <div class= "col-md-10 col-md-offset-1">
        <a class="btn btn-primary pull-right" href= "/users/:id/tasks/new" >タスクの新規作成 </a>
      
      <table class= "table table-hover" id="table-tasks">
        <thead>
          <tr>
            <th><%= Task.human_attribute_name :名称 %></th>
            <th><%= Task.human_attribute_name :作成日 %></th>
          </tr>
        </thead>
      </table>
      
      <tbody>
        <% @tasks.each do |task| %>
          <div class="tasks-index-item">
            <tr>
              <td><%= link_to task, task %></td>
              <td></td>
              <td><button type="button" class="btn btn-success">編集</button></td>
              <td><%= link_to "削除", task, method: :delete,
                  data: { confirm: "「#{@tasks}」を削除します。よろしいですか？" },
            class: "btn btn-danger" %>
              </td>
            </tr>
          </div>
        <% end %>
      </tbody>
      
      
      </div>
    </div>
    
  </div>

</div>
